<%= form_for(@surgical_procedure) do |f| %>
  <% if @surgical_procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgical_procedure.errors.count, "error") %> prohibited this surgical_procedure from being saved:</h2>

      <ul>
      <% @surgical_procedure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
