<h1>Listing surgical_procedures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surgical_procedures.each do |surgical_procedure| %>
      <tr>
        <td><%= surgical_procedure.name %></td>
        <td><%= link_to 'Show', surgical_procedure %></td>
        <td><%= link_to 'Edit', edit_surgical_procedure_path(surgical_procedure) %></td>
        <td><%= link_to 'Destroy', surgical_procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgical procedure', new_surgical_procedure_path %>
