<div class="col-lg-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Patient index</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>MRN</th>
          <th>Date of Birth</th>
          <th>Ward location</th>
        </tr>
        </thead>
        <tbody>
        <% @patients.each do |p| %>
            <tr>
              <td><%= link_to p.last_name, patient_path(p) %></td>
              <td><%= link_to p.first_name, patient_path(p) %></td>
              <td><%= p.mrn %></td>
              <td><%= p.date_of_birth %></td>
              <td><%= p.ward_location %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>