<h1>Surgical Specialties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surgical_specialties.each do |surgical_specialty| %>
      <tr>
        <td><%= surgical_specialty.name %></td>
        <td><%= link_to 'Show', surgical_specialty %></td>
        <td><%= link_to 'Edit', edit_surgical_specialty_path(surgical_specialty) %></td>
        <td><%= link_to 'Destroy', surgical_specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgical specialty', new_surgical_specialty_path %>
